{% extends 'articles/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 bg-light">
                <h4 class="d-flex justify-content-between">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">1</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                            <div class="fw-bold">Premium Subscription</div>
                            Monthly
                        </div>
                        <span class="badge bg-warning">$14</span>
                    </li>
                    {% if coupon != 'none' %}
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                                <small>Karfreitag</small>
                            </div>
                            <span class="text-success">-$5</span>
                        </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <span class="badge bg-success">$9</span>
                    </li>
                </ul>

                <form class="card p-2" action="{% url 'checkout' %}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code" name="coupon">
                        <input type="hidden" value="" name="plan"/>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </div>
                </form>

                <div class="text-center pt-3">
                    <section>
                        <form action="{% url 'checkout' %}" method="post">
                            {% csrf_token %}
                            <script></script>
                            <!-- Add a hidden field with the lookup_key of your Price -->
                            <input type="hidden" name="lookup_key" value="price_1Kp3MhF7F9yNammSd0N4obkJ"/>
                            <button id="checkout-and-portal-button" type="submit" class="btn btn-warning">Checkout</button>
                        </form>
                    </section>
                </div>

            </div>
            <div class="col-4"></div>
        </div>


    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}