{% extends 'articles/base.html' %}
{% block content %}

    <div class="container">
        <h3>Articles</h3>

        <div class="row">
            {% for article in articles.all %}
                <div class="col-sm-4">
                    <div class="card my-1">
                        <div class="card-body">
                            <h5 class="card-title">
                                 <a href="{% url 'article' article.id %}">
                                {{ article.title }}</a></h5>
                            <p class="card-text text-truncate">{{ article.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}