{% extends 'articles/base.html' %}

{% block content %}
    {{ test }}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Smart Articles Premium</h1>
        <p class="lead">
            Get the upper-hand with premium content.
        </p>
    </div>

    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 g-4 my-3">
            <div class="col-3">

                <div class="card shadow-sm">
                    <div class="card-header">
                        Monthly
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">$9 <small class="text-muted">/ month</small></h1>
                        <ul>
                            <li>
                                New articles every week
                            </li>
                            <li>
                                Access to premium content
                            </li>
                        </ul>
                        <a href="{% url 'checkout' %}?plan=monthly">
                            <button type="button" class="btn btn-lg btn-block btn-outline-warning">Get started</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-3">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Yearly
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">$88 <small class="text-muted">/ year</small></h1>
                        <ul>
                            <li>
                                New articles every week
                            </li>
                            <li>
                                Access to premium content
                            </li>
                            <li>
                                Early Access content
                            </li>
                        </ul>
                        <a href="{% url 'checkout' %}?plan=yearly">
                            <button type="button" class="btn btn-lg btn-block btn-warning">Get started</button>
                        </a>
                        <span class="badge bg-primary rounded-pill">Save 20%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}